.error-container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-area-icon {
  width: 250px;
  margin: 40px;
}

.error-area-text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  width: 250px;
}
